# OS X
.DS_Store
.obsidian


# Windows
desktop.ini

# Xcode
build/
*.pbxuser
xcuserdata/
*.xccheckout
DerivedData
*.ipa

# Bundler
.bundle

# AppCode
.idea
!.idea/codeStyleSettings.xml

# Tuist
graph.png
Tuist/Dependencies/graph.json
/*.xcodeproj
/Derived

# Logs
Build-Phases/temp/

# SPM
**/.build
.swiftpm/
.package.resolved
Package.resolved

*__Snapshots__*


.vscode/settings.json